#black-bg {
    background-color: rgba(0, 0, 0, 0.884);
    color:rgba(255, 255, 255, 0.849);
}

#white-sub {
    color: rgba(255, 255, 255, 0.616);
}

#white-h2 {
    color: white;
    font-size: 3rem;
}

#white-h3 {
    color: white;
}

.workflow-icon {
    font-size: 3rem;
}

.btn-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 0px;
    width: 35rem;
    margin: 0 auto;
}

.btn-index p a {
    width: 10rem;
}

.btn-last {
    grid-column: 1 / 4;
}

.btn-4 {
    width: 33.5rem!important;
}





.hb-border-bottom-br3 {
    position: relative;
    transition-duration: 0.3s;
    overflow: visible;
    box-sizing: border-box;
    border: none;
    padding: 10px 22px;
} 


.hb-border-bottom-br3::after {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    z-index: 2;
    margin: 0px;
    left: 0px;
    bottom: 0px;
    border-top-width: 2px;
    transition: border-top-width 0.1s 0.2s, height 0.2s 0.1s, width 0.2s 0s, margin 0.2s 0s;
} 


.hb-border-bottom-br3:hover::after {
    width: 60%;
    height: 0px;
    border-width: 0px 2px 2px;
    margin: 0px 20%;
    transition: border-top-width 0.1s 0s, height 0.2s 0.1s, width 0.2s 0.2s, margin 0.2s 0.2s;
} 







  .portfolio-wrap {
    display: block;
    width: 100%;
    margin-bottom: 7em; }
    .portfolio-wrap .text {
      position: relative; }
      .portfolio-wrap .text .subheading {
        display: block;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 3px;
        color: #ffffffa1;
        font-weight: 700; }
      .portfolio-wrap .text h2 {
        font-size: 80px;
        display: inline-block; }
        @media (max-width: 767.98px) {
          .portfolio-wrap .text h2 {
            font-size: 16vw; } }
        .portfolio-wrap .text h2 a {
          color: #ffffff;
          font-weight: 700;
          font-size: 4rem;
          padding-bottom: 10px;
          border-bottom: 3px solid #7EED46; }
      .portfolio-wrap .text .top-relative h2 {
        font-size: 50px; }
      .portfolio-wrap .text .desc {
        position: relative;
        width: 100%; }
        @media (min-width: 1200px) {
          .portfolio-wrap .text .desc .top {
            -webkit-transform: translateY(50%);
            -ms-transform: translateY(50%);
            transform: translateY(50%);
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease; }
            .portfolio-wrap .text .desc .top.top-relative {
              -webkit-transform: translateY(0);
              -ms-transform: translateY(0);
              transform: translateY(0); }
          .portfolio-wrap .text .desc .absolute {
            opacity: 0;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
            -webkit-transform: translateY(-20%);
            -ms-transform: translateY(-20%);
            transform: translateY(-20%); }
            .portfolio-wrap .text .desc .absolute.relative {
              opacity: 1;
              -webkit-transform: translateY(0);
              -ms-transform: translateY(0);
              transform: translateY(0); } }
        .portfolio-wrap .text .desc .custom-btn {
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 3px;
          color: #b3b3b3;
          font-weight: 700; }
      .portfolio-wrap .text:hover {
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .portfolio-wrap .text:hover .absolute {
          position: relative;
          opacity: 1;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0); }
        .portfolio-wrap .text:hover .top {
          position: relative;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0); }

          .portfolio-entry {
            position: relative;
            margin-bottom: 7em; }
            .portfolio-entry .text-wrapper {
              width: 100%; }
              @media (max-width: 767.98px) {
                .portfolio-entry .text-wrapper {
                  height: inherit; } }
            .portfolio-entry .one-half {
              width: 60%; }
              @media (max-width: 991.98px) {
                .portfolio-entry .one-half {
                  width: 100%; } }
              @media (min-width: 992px) {
                .portfolio-entry .one-half.half-text {
                  position: absolute;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  width: 100%;
                  margin: 0 auto; }
                  .portfolio-entry .one-half.half-text .text {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    max-width: 60%; }
                  .portfolio-entry .one-half.half-text .text-2 {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    max-width: 58%; } }
              @media (min-width: 1200px) {
                .portfolio-entry .one-half.half-text {
                  position: absolute;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  width: 1140px;
                  margin: 0 auto; }
                  .portfolio-entry .one-half.half-text .text {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    max-width: 58%; }
                  .portfolio-entry .one-half.half-text .text-2 {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    max-width: 58%; } }
              .portfolio-entry .one-half.half-text .subheading {
                display: block;
                text-transform: uppercase;
                font-size: 13px;
                letter-spacing: 3px;
                color:  #ffffffa1;
                font-weight: 700; }
              .portfolio-entry .one-half.half-text h2 {
                font-size: 4rem;
                font-weight: 700;
                display: inline-block; }
                @media (max-width: 767.98px) {
                  .portfolio-entry .one-half.half-text h2 {
                    font-size: 16vw; } }
                .portfolio-entry .one-half.half-text h2 a {
                  color: #ffffff;
                  padding-bottom: 10px;
                  border-bottom: 3px solid #72F9A3; }
              .portfolio-entry .one-half.half-text .text .desc, .portfolio-entry .one-half.half-text .text-2 .desc {
                position: relative;
                width: 100%; }
                @media (min-width: 1200px) {
                  .portfolio-entry .one-half.half-text .text .desc .top, .portfolio-entry .one-half.half-text .text-2 .desc .top {
                    -webkit-transform: translateY(50%);
                    -ms-transform: translateY(50%);
                    transform: translateY(50%);
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    -webkit-transition: all 0.3s ease;
                    -ms-transition: all 0.3s ease;
                    transition: all 0.3s ease; }
                  .portfolio-entry .one-half.half-text .text .desc .absolute, .portfolio-entry .one-half.half-text .text-2 .desc .absolute {
                    opacity: 0;
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    -webkit-transition: all 0.3s ease;
                    -ms-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    -webkit-transform: translateY(-20%);
                    -ms-transform: translateY(-20%);
                    transform: translateY(-20%); } }
                .portfolio-entry .one-half.half-text .text .desc .custom-btn, .portfolio-entry .one-half.half-text .text-2 .desc .custom-btn {
                  text-transform: uppercase;
                  font-size: 12px;
                  letter-spacing: 3px;
                  color: #b3b3b3;
                  font-weight: 700; }
              .portfolio-entry .one-half.half-text .text:hover, .portfolio-entry .one-half.half-text .text-2:hover {
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                transition: all 0.3s ease; }
                .portfolio-entry .one-half.half-text .text:hover .absolute, .portfolio-entry .one-half.half-text .text-2:hover .absolute {
                  position: relative;
                  opacity: 1;
                  -webkit-transform: translateY(0);
                  -ms-transform: translateY(0);
                  transform: translateY(0); }
                .portfolio-entry .one-half.half-text .text:hover .top, .portfolio-entry .one-half.half-text .text-2:hover .top {
                  position: relative;
                  -webkit-transform: translateY(0);
                  -ms-transform: translateY(0);
                  transform: translateY(0); }


